/* .container{
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(140deg,rgb(36,36,223), rgb(7,7,166))
} */

.calculator{
    
    padding: 40px;
    border-radius: 10px;
    background-color: white;
}

form input{
    border: none;
    outline: 0;
    width: 60px;
    height: 60px;
    font-size: 16px;
    background-color: rgb(72, 72, 164);
    margin: 2px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.display {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0px 15px 0px; /* Corrected the margin syntax */
}

.display input {
    text-align: right;
    flex: 1;
    font-size: 40px;
    padding: 5px 10px;
    background-color: aqua;
}

input.equal{
    width: 130px;
}