.shoppingContainer {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    /* Set width to cover the full width of the page */
    background-color: rgb(255, 192, 203);
    color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: auto;
    color: black;
    font-weight: 500px;
}
