.picture-container {
    position: relative;
    
  }

  
  
  .picture-container img {
    display: block;
    width: 500px;
    height: 100%;
    border: 8px solid black; 
    object-fit: contain;

  }
   
.previous,
.next {
  position: absolute;
  z-index: 1;
  font-size: 20px;
  top: 46%;
  color: white;
  background: black;
  border-radius: 9999px;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
}

.previous {
  left: 5%;
}

.next {
  right: 5%;
}
